extends layout

block content
  h1 #{title}
  br
  h5 Distribution
  table(style='width:100%', border='1')
    tr
      th Tranche d'age
      th Nombre
    tr
      td 10-19
      td #{distribution.t1.count}
    tr
      td 20-29
      td #{distribution.t2.count}
    tr
      td 30-39
      td #{distribution.t3.count}
    tr
      td 40-49
      td #{distribution.t4.count}
    tr
      td 50-59
      td #{distribution.t5.count}
    tr
      td 60-69
      td #{distribution.t6.count}
    tr
      td 70-79
      td #{distribution.t7.count}
    tr
      td 80+
      td #{distribution.t8.count}
  br
  h5 Statistiques
  table(style='width:100%', border='1')
    tr
      th Taux de contamination
      th Nombre de décès attendu
      th Proabilité zéro décès
      th Probabilité au moins un décès
    each rate in [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
      tr
        td #{rate}%
        td #{result[rate].avg_deaths}
        td #{result[rate].prob_no_death}%
        td #{result[rate].prob_death}%

  br
  a(href="/") Back
