extends layout

block content
  h1= collection.name
  if editMode
    h2 Edit mode (click on items id to edit)
  br
  h5 Items list
  
  each item in collection.items
    each key in Object.keys(item)
      if key === 'id'
        if editMode
          li
            #{key}: a(href="/modify/"+collection.name+"/"+item[key]) #{item[key]}
      else
        li #{key}: #{item[key]}
    br

  a(href="/add/"+collection.name) Add item
  br
  a(href="/edit/"+collection.name) Edit collection
  br
  a(href="/") Home
  br
  br
